* {
    box-sizing: border-box;
}


body {
    margin:0;
    padding:0;
    font-family: 'McLaren', cursive;
    background-color: #029c7d;
}

a {
    text-decoration: none;
     color: #0499ff;
    }

.nav {
    min-height:63px;
    min-width: 1400px;
    background-color: #037059;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-family: 'McLaren', bold;
    position: fixed;
}
                                                                                  
.menu {
    display: flex;
    flex-flow: row;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
}

.menu li{
    padding: 10px;
}

.name{
    display: block;
    margin-right: auto;
}

header{
    padding-top: 100px;
    width: 100%;
    height: 400px;
    background-image: url('https://i.pinimg.com/originals/3d/bb/18/3dbb18551ff854773d1555875494d231.jpg');
    background-size: cover;
    text-align: center;
}

header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #03fcbe;
    transition: all .5s;
}

header img:hover {
    transform: scale(1.2) rotate(5deg);
}

.tag {
    background-color: white;
    display: table;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.sub-title {
    background-color: #037059;
    color: black;
}

.content {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 39px;
    padding-bottom: 39px;
}

.card {
    max-width: 500px;
    margin: 10px;
    padding: 50px;
    background-color: white;
    border-bottom: 4px solid grey;
    border-radius: 14px;
    transition: all .3s;
}

.card:hover {
	transform: scale(1.03);
}

.tag-list {
    display: flex;
    justify-content: center;
    flex-flow: row;
    list-style-type: none;
    color: #fff;
}

.tag-yellow {
    background-color: #ff9900;
    display: flex;
    justify-content: center;
}

.tag-blue {
    background-color: #0399ff;
    display: flex;
    justify-content: center;
}

.nav-link a{
    text-decoration: none;
    
    padding: 14px;
    transition: all .4s;
   }

   .nav-link a:hover{
    transform: scale(1.2);
   }

   footer{
    background-color:#037059;
    color: black;
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
    padding: 10px;
    list-style-type: none;
   }

   ol{
       list-style-type: none;
       display: flex;
       flex-direction: row;
       justify-content: center;
       justify-content: space-around;
       padding: 15px;
       margin: 0 auto;
       width: 150px;
   }

   .tab{
    text-decoration: none;
    color: #279AF1;
    transition: all .3s;
}

.tab:hover {
	transform: scale(1.2);
}

   
   .tab{
    height: 35px;
    border-radius: 50%;
   }
      
   .tab1{
    height: 35px;
    border-radius: 50%;
   }
      
   .tab2{
    height: 35px;
    border-radius: 50%;
   }
   
   .tab1{
    text-decoration: none;
    color: #279AF1;
    transition: all .3s;
}

.tab1:hover {
	transform: scale(1.2);
}

.tab2{
    text-decoration: none;
    color: #279AF1;
    transition: all .3s;
}

.tab2:hover {
	transform: scale(1.2);
}
